doctype html
html
  head
    title Your basic web app structure
    |     
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
    |     
    link(href='/css/colors.css', rel='stylesheet') 
    |     

    script.
      var sheet = document.styleSheets[0];
      var color = !{JSON.stringify(color)};
      color = "#"+color.slice(1,10);
      sheet.insertRule(".hexfield:hover {fill:"+color+"}", 1);
    script(src="https://code.jquery.com/jquery-3.2.1.min.js", integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=", crossorigin="anonymous")
    |     
    script(src="/javascripts/hexgridwidget.js")
    |   

    script.
      $.ajax({
      cache: false,
      url: "javascripts/data.json",
      dataType: "json",
      success: function (hexy) {
        var rebuild = function () {
          window.atkdid = [];
          var
            radius = 20,
            columns = 50,
            rows = 18,
            cssClass = 'hexfield',
            color = !{JSON.stringify(color)},
            userHover = !{JSON.stringify(allUsers)},
            clicks = 0,
            atkd = [],
            ownd = [],
            owndid = []
          $('#container').empty().hexGridWidget(radius, columns, rows, cssClass, hexy, userHover).on('hexclick');
          for(var i = 0; i<900; i++){
            if(($('#'+i).data('color') == color)){
              ownd.push($('#'+i).data('coords'))
              owndid.push($('#'+i).data('_id'))

            };
          };
          //click
          $('#container .hexfield').click(function(){
            var nghbrs = $(this).data('nghbrs'),
              check = false
            for(var j = 0; j < nghbrs.length; j++){
              for(var i = 0; i < ownd.length; i++){
                if(ownd[i][0] == nghbrs[j][0] && ownd[i][1] == nghbrs[j][1]){
                  check = true;
                };
              };
              for(var i = 0; i < atkd.length; i++){
                if(atkd[i][0] == nghbrs[j][0] && atkd[i][1] == nghbrs[j][1]){
                  check = true;
                };
              };
            };
            if (check && clicks < 6 && !(owndid.includes($(this).data('_id')) || window.atkdid.includes($(this).data('_id')))){
              window.atkdid.push($(this).data('_id'));
              atkd.push($(this).data('coords'));
              this.classList.toggle('clicked');
              clicks++;
            };
          })
        }
        $('#rebuild').click(rebuild);
        rebuild();
      }
      })
  |

  body
    #popup(style="display: none") 
    .bar#loadingmessage(style='display:none')
    .navbar.navbar-default
      .container-fluid
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          .navbar-form.navbar-left
            p.navbar-text Zaznacz 6 pól wokół swoich ziem, a nastepnie wciśnij 
            |             
            .form-group       
            |             
            button.btn.btn-default.navbar-left#submit(style="margin-top:5px") Rzut
        != messages('message', locals)


    |     
    #container
    |     

  |   
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
  script.
    document.getElementById("submit").disabled = true;
    var x = setInterval(function() {
        var a = new Date()
        var c = new Date(!{JSON.stringify(lastthrow)})
        var distance = (8*3600*1000) - (a-c)
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        document.getElementById("submit").innerHTML = hours + ":" + minutes + ":" + seconds;
        if (distance < 0) {
          clearInterval(x);
          document.getElementById("submit").innerHTML = "Rzut";
          document.getElementById("submit").disabled = false;
        }
    },1000)
  script.
    $('#submit').click(function() {
      $('#loadingmessage').show();
      $.ajax({
        url: 'game',
        type: 'POST',
        data: {'atkdid': window.atkdid},
        success: function(data){
          if(data=="done"){
            setTimeout(window.location.reload.bind(window.location), 1000);
            function hider(){
              $('#loadingmessage').hide();
            }
          } else if (data=="err"){
            setTimeout(window.location.reload.bind(window.location), 1000);
            function hider(){
              $('#loadingmessage').hide();
            }
          }

        },
        error: function(){
          setTimeout(window.location.reload.bind(window.location), 1000);
            function hider(){
              $('#loadingmessage').hide();
            }
        }
      }); 
    })
